@using DiscontMD.BusinessLogic
@using YASop.AdminUI.Code
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - дисконтные карты</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
<div class="bg-light" style="border-bottom: solid 1px #eee; margin-bottom: 20px; ">
    <nav class="navbar navbar-expand-md navbar-light bg-white ">
        <div class="container">
        <a class="navbar-brand" href="/">Дисконт MD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse " id="navbarsExampleDefault" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Партнёры</a>
                </li>
                @if (Registry.Current.Services.User.IsAuthenticated) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddlMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Мой офис</a>
                        <div class="dropdown-menu" aria-labelledby="ddlMenu1">
                            <a class="dropdown-item" href="/backoffice/">Главная</a>
                            <a class="dropdown-item" href="#">Активированные карты</a>
                            <a class="dropdown-item" href="#">История продаж</a>
                            <a class="dropdown-item" href="#">Настройки магазина</a>
                            <a class="dropdown-item" href="#">Правила дисконта</a>
                        </div>
                    </li>
                }
            </ul>
@if (!Registry.Current.Services.User.IsAuthenticated)
{

    <div class="my-2 my-lg-0">
        <a class="btn btn-outline-success" href="/Account/Registration">Регистрация</a>
        <a class="btn btn-outline-primary" href="/Account/Login">Войти</a>
    </div>
}
else
{
    <ul class="navbar-nav ">
        <li>
            @using (Html.BeginForm("ViewCard", "Backoffice", FormMethod.Get))
            {

                <div class="input-group">
                    <input type="text" class="form-control"  required="true"  name="cardNum" placeholder="000 000" style="width: 90px;">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="this.form.submit();" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            }
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="ddlMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> @(Registry.Current.Services.User.CurrentUser().Email.Split('@')[0])</a>
            <div class="dropdown-menu" aria-labelledby="ddlMenu1">
                <a class="dropdown-item" href="/backoffice/">Моя учётная запись</a>
                <a class="dropdown-item text-danger" href="/Account/LogOff">Выход</a>
            </div>
        </li>


    </ul>

}
        </div>
        </div>
    </nav>
    


    <main role="main" class="container" style="padding: 0 0rem 2rem 0rem;">
        @RenderBody()
    </main>
</div>
    
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Наверх</a>
        </p>
        <p>&copy; 2017-2018 Дисконт M.D</p>
        <p>Есть вопросы? <a href="#">Свяжитесь с нами</a>.
        </p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>

@RenderSection("scripts", required: false)
</body>
</html>
