@using YASop.AdminUI.Code
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - дисконтные карты</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
<div class="bg-light" style="border-bottom: solid 1px #eee; margin-bottom: 20px;">
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
        <a class="navbar-brand" href="/">Дисконт MD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse show" id="navbarsExampleDefault" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Наши партнёры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Disabled</a>
                </li>
                @if (new AuthHelper().IsAuthenticated) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddlMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Мой оффис</a>
                        <div class="dropdown-menu" aria-labelledby="ddlMenu1">
                            <a class="dropdown-item" href="#">Активированные карты</a>
                            <a class="dropdown-item" href="#">История продаж</a>
                            <a class="dropdown-item" href="#">Настройки магазина</a>
                            <a class="dropdown-item" href="#">Правила дисконта</a>
                        </div>
                    </li>
                }
            </ul>
@if (!new AuthHelper().IsAuthenticated)
{

    <div class=" my-2 my-lg-0">
        <a class="btn btn-outline-success" href="/Account/Registration">Регистрация</a>
        <a class="btn btn-outline-primary" href="/Account/Login">Войти</a>
    </div>
}
else
{

    <div class=" my-2 my-lg-0">
        <a class="" href="/Account/Registration"> <i class="fa fa-user"></i> @(new AuthHelper().CurrentUser().Email)</a> &nbsp;
        <a class="btn btn-outline-warning" href="/Account/Logout">Выход</a>
    </div>

}
        </div>
    </nav>
    


    <main role="main" class="container" style="padding: 4.5rem 1.5rem 3rem 1.5rem;">
        @RenderBody()
    </main>
</div>
    
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Наверх</a>
        </p>
        <p>&copy; 2017-2018 Дисконт M.D></p>
        <p>Есть вопросы? <a href="#">Свяжитесь с нами</a>.
        </p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@RenderSection("scripts", required: false)
</body>
</html>
